name: Python Publish

on:
  workflow_call:
    inputs:

      build_tooling_command:
        type: string
        default: "pip install build"

      build_command:
        type: string
        default: "python -m build"

      repository_url:
        type: string
        default: "https://pypi.org"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout    
        uses: actions/checkout@v5
      
      - name: Setup Python         
        uses: actions/setup-python@v6
        with:
          python-version: "3.10" # Lowest supported version

      - name: Install Build Tooling
        run: ${{ inputs.build_tooling_command }}

      - name: Build
        run: ${{ inputs.build_command }}

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist

  publish:
    needs: ["build"]
    environment: publish
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download dist
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          repository-url: ${{ inputs.repository_url }}
